<div class="container">
  <h1 class="text-center"> Add your own cocktail</h1>

  <div class="col-sm-offset-3 col-sm-6">
    <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, label: 'Name of Cocktail please', error: 'Name of Cocktail is mandatory' %>
    <%= f.input :picture_url, label: "Link a pic here" %>

    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
