<div class="container">
  <div class="card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @cocktail.picture_url %>);"> <h1 class="text-center"><%= @cocktail.name %></h1>
   </div>

   <div class="row">
    <div class="col-sm-6">
      <h2>Ingredients:</h2>
      <% @cocktail.doses.each do |dose| %>

      <h4><%= dose.description %> of <%= dose.ingredient.name %></h4>
      <% end %>

      <p> <%= link_to "Back to cocktails", "/cocktails"  %></p>
      </div>
      <!-- <p><%= link_to "Create new dose", new_cocktail_dose_path(@cocktail)%></p> -->
      <div class="col-sm-6">
      <%= render "doses/form" %>
      </div>
  </div>
</div>
